.menu-title{
  font-weight: 300;
}
b, strong {
  font-weight: 700;
}
.title{
  position: relative;
    left:1000px;
    top:20px;
}

.menu-container {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  background:rgba(0,0,0,0);
}

.menu-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 2rem; /* Increased font size */
  text-align: right; /* Align title to the right edge */
  color: black;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right; /* Align links to the right edge */
}

.menu-links li {
  margin-bottom: 5px;
}

.menu-links a {
  display: block;
  padding: 2.5px 2.5px;
  color: #333;
  text-decoration: none;
}

.menu-links a:hover {
/*  background-color: #ddd;*/
}
.about-wrapper {
  pointer-events: none;
}
#fish1{
  position: absolute;
  padding-left: 73vh;
  padding-top: 9vh;
  width: 33%;
}

@media screen and (max-width: 800px) {
.about-wrapper {
  pointer-events: none;
}
#fish1{
  position: absolute;
  padding-left: 18%;
  padding-top: 70%;
  width: 63%;
}

  .paragraph{
    width: 100%;
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
  }

  
  .bio{
    position: absolute;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 30%;
  }
  .text{
  	position: absolute;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 130%;
  }

}



.coming-soon{
  position: absolute;
  padding-right: 0vw;
  padding-left: 40vw;
  padding-top: 20vw;
  text-align: center;
  color: olivedrab;
}

.text{
	position: absolute;
	font-size: 14px;
	left:20%;
	right: 20%;
	top:65%;
	line-height: 35px;
}

.titles{
	font-size: 15px;
	line-height: 24px;
	color:olivedrab;
}


.about_text{
	position: absolute;
	left: 20%;
	right:20%;
	top:35%;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color:olivedrab;
}

.bio{
	position: absolute;
	left: 20%;
	right:20%;
	top:42%;
	text-align: justify;
	font-size: 14px;
	line-height: 24px;
	color:darkolivegreen;

}

.pulchri a {
  font-size: 15px;
  list-style-type: none;
  background-color: yellow;
  margin: 0;
  padding: none;
  text-decoration: none;
}
}