
body{
	font-family: "Inter", sans-serif;
	font-weight: 300;
  	font-style: normal;
  	background-color: #faf8ed;
}
.text{
	position: absolute;
	font-size: 18px;
	top:55%;
	right:50%;
	color:olivedrab;
}
@media screen and (max-width: 800px) {
	.text { position: absolute;
	font-size: 5vw;
	top:55%;
	right: 5%;
	left: 5%;
	color:olivedrab;
	}
}