.menu-title{
  font-weight: 300;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #faf8ed;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.title{
	position: relative;
  	left:1000px;
  	top:20px;
}
.about{
	font-size: 14px;
	position: relative;
  	left:1100px;
  	top:50px;
}
.menu-container {
  position: relative;
  top: 50px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  background:rgba(0,0,0,0);
}

.menu-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 2rem; /* Increased font size */
  text-align: right; /* Align title to the right edge */
  color: black;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right; /* Align links to the right edge */
}

.menu-links li {
  margin-bottom: 5px;
}

.menu-links a {
  display: block;
  padding: 2.5px 2.5px;
  color: #333;
  text-decoration: none;
}

.menu-links a:hover {
/*  background-color: #ddd;*/
}


#fish1{
  position: absolute;
  padding-left: 73vh;
  padding-top: 9vh;
  width: 33%;
}


img{
	width: 30%;
}
a{
	color:black;
}
a {text-decoration: none; }
}
}



#toothbrush{
	height:auto;
	width:90vh;
	}

#thesiscover-min{
height: auto;
	width: 70vh;
}

#spit{
  height: auto;
  width: 30vh;
  padding-left: 15vh;
  padding-top: 5vh;
}

#croissant{
  height:auto;
  width: 40vh;
}

#onion{
  height: auto;
  width: 30vh;
  padding-left: 15vh;
}

#gum{
  height:auto;
  width:35vh;
  padding-left: 10vh;
}

#frisbee{
  height: auto;
  width: 45vh;
  padding-left: 5vh;
}

#stair{
  height: auto;
  width: 40vh;
  padding-left: 5vh;
}

#mammmal{
  height: auto;
  width: 55vh;
  padding-left: 5vh;
}

#man{
  width: 40vh;
  height: auto;
  padding-left: 10vh;
  padding-top: 5vh;
}
#table{
  height:auto;
  width: 40vh;
  padding-left: 10vh;
}
  #fish2{
    height: auto;
    width: 40vh;
    padding-left: 10vh;
  }

  #worm{
    height: auto;
    width: 40vh;
    padding-left: 15vh;
  }

  #cage{
    padding-left: 10vh;
    height: auto;
    width: 45vh;
  }

  #toast{
    padding-left: 15vh;
    padding-top: 5vh;
    height: auto;
    width: 50vh;
  }
#reddog{
  padding-top: 10vh;
}
	.title{
	position: absolute;
  	text-align: center;
}
.about{
	font-size: 14px;
	
}
.menu-container {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  background:rgba(0,0,0,0);
}

.menu-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 2rem; /* Increased font size */
  text-align: right; /* Align title to the right edge */
  color: black;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right; /* Align links to the right edge */
}

.menu-links li {
  margin-bottom: 5px;
}

.menu-links a {
  display: block;
  padding: 2.5px 2.5px;
  color: #333;
  text-decoration: none;
}

.menu-links a:hover {
/*  background-color: #ddd;*/
}


img{
	width: 30%;
}
a{
	color:black;
}
a {text-decoration: none; }
}