
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
	font-family: "Inter", sans-serif;
	font-weight: 300;
  	font-style: normal;
  	background-color: #faf8ed;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.title{
	position: relative;
  	left:1000px;
  	top:20px;
}
.about{
	font-size: 14px;
	position: relative;
  	left:1100px;
  	top:50px;
}
.menu-container {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  background:rgba(0,0,0,0);
}

.menu-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 2rem; /* Increased font size */
  text-align: right; /* Align title to the right edge */
  color: black;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right; /* Align links to the right edge */
}

.menu-links li {
  margin-bottom: 5px;
}

.menu-links a {
  display: block;
  padding: 2.5px 2.5px;
  color: #333;
  text-decoration: none;
}

.menu-links a:hover {
/*  background-color: #ddd;*/
}

img{
	width: 30%;
}
a{
	color:black;
}
a {text-decoration: none; }
}
}

#toothbrush{
	height:auto;
	width:90vh;
	}

#thesiscover-min{
height: auto;
	width: 90vh;
}

#croissant{
  height:auto;
  width: 40vh;
}
	.title{
	position: absolute;
  	text-align: center;
}
.about{
	font-size: 14px;
	
}
.menu-container {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  background:rgba(0,0,0,0);
}

.menu-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 2rem; /* Increased font size */
  text-align: right; /* Align title to the right edge */
  color: black;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right; /* Align links to the right edge */
}

.menu-links li {
  margin-bottom: 5px;
}

.menu-links a {
  display: block;
  padding: 2.5px 2.5px;
  color: #333;
  text-decoration: none;
}

.menu-links a:hover {
/*  background-color: #ddd;*/
}

img{
	width: 30%;
}
a{
	color:black;
}
a {text-decoration: none; }
}