body{
	font-family: "Inter", sans-serif;
	font-weight: 300;
  	font-style: normal;
  	background-color: #faf8ed;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  body {
    #table{
	height:350px;
	width: auto;
}
#gum{
	height:400px;
	width:auto;
}
#pillow{
	width:400px;
	height:auto;
}
#spit{
	height:250px;
	width:auto;
}
#toothbrush{
	height:700px;
	width:auto;
}
#bathtub{
	width:30%;
	height:auto;
}
#foot{
	height:300px;
	width:auto;
}
#midsummer{
	height:600px;
	width:auto;
}
#deadpigeon{
	height: 250px;
	width:auto;
}
#reddog{
	height: 350px;
	width: auto;
}

  }

.class {
	width: 100%;
}

#table{
	height:350px;
	width: auto;
	position: relative;
  	left:400px;
  	bottom:250px;
}
#gum{
	height:400px;
	width:auto;
	position: relative;
  	left:400px;
  	top:950px;
}
#pillow{
	width:400px;
	height:auto;
	position: relative;
  	left: 200px;
  	top: 20px;
}
#spit{
	height:250px;
	width:auto;
	position: relative;
  	right: 800px;
  	top:20px;
}
#toothbrush{
	height:700px;
	width:auto;
	position: relative;
  	right:900px;
  	top:800px;
}
#bathtub{
	width:30%;
	height:auto;
	position: relative;
  	left:600px;
  	bottom: 150px;
}
#foot{
	height:300px;
	width:auto;
	position: relative;
  	right: 300px;
  	top: 700px;

}
#midsummer{
	height:600px;
	width:auto;
	position: relative;
  	right: 200px;
  	top:1000px;
}
#deadpigeon{
	height: 250px;
	width:auto;
	position: relative;
	bottom: 150px;
	left: 1100px;
}
#reddog{
	height: 350px;
	width: auto;
	position: relative;
	top: 1100px;
	left: 0px;
}
}
}


.title{
	position: relative;
  	left:1000px;
  	top:20px;
}
.about{
	font-size: 14px;
	position: relative;
  	left:1100px;
  	top:50px;
}
.menu-container {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  background:rgba(0,0,0,0);
}

.menu-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 2rem; /* Increased font size */
  text-align: right; /* Align title to the right edge */
  color: black;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right; /* Align links to the right edge */
}

.menu-links li {
  margin-bottom: 5px;
}

.menu-links a {
  display: block;
  padding: 2.5px 2.5px;
  color: #333;
  text-decoration: none;
}

.menu-links a:hover {
/*  background-color: #ddd;*/
}

img{
	width: 30%;
}
a{
	color:black;
}
a {text-decoration: none; }