.menu-title{
  font-weight: 300;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
	font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #faf8ed;
}

.title{
	position: relative;
  	left:1000px;
  	top:20px;
}
.about{
	font-size: 14px;
	position: relative;
  	left:1100px;
  	top:50px;
}
.menu-container {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  background:rgba(0,0,0,0);
}

.menu-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 2rem; /* Increased font size */
  text-align: right; /* Align title to the right edge */
  color: black;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right; /* Align links to the right edge */
}

.menu-links li {
  margin-bottom: 5px;
}

.menu-links a {
  display: block;
  padding: 2.5px 2.5px;
  color: #333;
  text-decoration: none;
}
.menu-links a:hover {
/*  background-color: #ddd;*/
}
a{
  color:black;
  text-decoration: none;
}

ul.nd-link{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nd-link li{
  list-style-type: none;
}
.nd-link a {
  color:darkred;
  text-decoration: none;
}

ul.expo-links{
  list-style-type: none;
  width: 50vw;
  position: absolute;
  padding-left: 30%;
  padding-right: 30%;
  top: 30%;
  text-align: left;
  line-height: 22px;
  font-size: 18px;
}

.stair2{
  height: auto;
  width: 70vh;
  padding-left: 35vh;
}

.paragraph {
	width: 23vw;
	position: absolute;
	padding-left: 73%;
  padding-right: 10%;
	top: 40%;
	text-align: left;
	line-height: 22px;
}

.dolphin{
  width: 35%;
}
.swan{
  width: 31%;
} 
.fishman{
  width: 34%;
}
.naked, .rabbit{
  width: 35%;
}
  img{
    width:70%;
  }

.embed-container{
  display: block;
   margin-left: 0;
   margin-right: auto;
    position: relative;
    width: 70%;
    padding-bottom: 40%;
    overflow: hidden;
    max-width: 1280px;
   
}
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


 @media only screen and (max-width: 801px) {
/* Create two unequal columns that floats next to each other */
.dentist1{
  width: 100%;
}
.dentist2{
  width: 100%;
}
.dentist3{
  width:100%;
}
.dentist4{
  width: 100%;
}
.stair2{
  width: 100%;
  padding-left: 0%;
}

.column {
  float: left;
}
.left {
  width: 40%;
  padding-right: 0.4%;
}
.right {
  width: 30%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  img{
    width:70%;
  }
  .video{
    width: 100%;
  }



@media screen and (max-width: 800px) {
  .paragraph{
    width: 100%;
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
  }
.menu-container,.menu-links,.menu-title,ul.expo-links{
    width: 100%;
    position: relative;
    align-content: center;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 5vw;
    top: 20%;
    left: 0%;
    right: 0%;
  }
  img{
    width: 100%;
  }
.video{
    width: 100%;
}

.coming-soon{
  position: absolute;
  padding-right: 0vw;
  padding-left: 40vw;
  padding-top: 20vw;
  text-align: center;
  color: olivedrab;
}