/* === GLOBAL STYLES === */

body {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #faf8ed;
}

a {
  color: black;
  text-decoration: none;
}

/* === TITLES & TEXT === */
.menu-title {
  font-weight: 300;
  margin: 0 0 50px;
  font-size: 2rem;
  text-align: right;
  color: black;
}

.title {
  font-size: 1.5rem;       /* scale with screen size */
  text-align: right;       /* pushes text to the right */
  margin: 20px 50px 0 0;   /* top/right/bottom/left spacing */
}


.about {
  font-size: 14px;
  text-align: right;       /* align to right edge */
  margin: 10px 50px 0 0;   /* spacing instead of position left */
}

/* === MENU === */
.menu-container {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  background:rgba(0,0,0,0);
}

.menu-links {
  position: relative;
  z-index: 1; /* makes sure newsletter sits on top */
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.menu-links li {
  margin-bottom: 5px;
}

.menu-links a {
  display: block;
  padding: 2.5px 2.5px;
  color: #333;
  text-decoration: none;
}

.menu-links a:hover {
  /* background-color: #ddd; */
}



/*=== PARAGRAPH ===*/
.paragraph,
.paragraph-view,
.paragraph-melkweg,
.paragraph-bunker {
  text-align: left;
  line-height: 22px;
  position: absolute;
  top: 40%;
}

.paragraph {
  width: 30vw;
  padding-left: 55%;
  padding-right: 10%;
}

.paragraph-view {
  width: 20vw;
  padding-left: 75%;
  padding-right: 10%;
}


/* === LAYOUT === */
.row {
  display: flex;
  gap:6px;
  align-items: flex-start;   /* baseline alignment for columns */
  flex-wrap: wrap;
  max-width: 100%;
  position: relative;
}

/* image columns */
.column {
  flex: 0 0 35%;
  max-width: 35%;
  font-size: 11px;
}

.column img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}













/* === RESPONSIVE === */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 801px) {
  .column { float: left; }
  .left { width: 40%; padding-right: 0.4%; }
  .right { width: 30%; }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  img { width: 50%; }
  .video { width: 70%; }
}

@media screen and (max-width: 800px) {
  @media screen and (max-width: 800px) {
  .column,.paragraph
  .paragraph-view {
    flex: 100%;
    max-width: 100%;
  }
}

  .menu-container {
    position: relative;
    align-content: center;
    padding: 0;
    margin: 0;
  }

  ul.expo-links {
    position: relative;
    margin: 100px 0;
    width: 70%;
    padding-left: 10%;
  }
